---
http_interactions:
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?status=adoptable&type=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PETFINDER_petfinder_bearer>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7297015e-6609-4bf2-b9d1-15f8727abcd0
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - JTAHiGW4IAMEg_g=
      X-Amzn-Remapped-Date:
      - Mon, 07 Aug 2023 15:54:50 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":65783428,"organization_id":"FL118","url":"https:\/\/www.petfinder.com\/dog\/jasmine-65783428\/fl\/bronson\/levy-county-animal-services-fl118\/?referrer_id=651060e9-740a-4c70-867b-fdd741977f4d\u0026utm_source=api\u0026utm_medium=partnership\u0026utm_content=651060e9-740a-4c70-867b-fdd741977f4d","type":"Dog","species":"Dog","breeds":{"primary":"American
        Bulldog","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Black","secondary":"White
        \/ Cream","tertiary":null},"age":"Young","gender":"Female","size":"Large","coat":"Short","attributes":{"spayed_neutered":false,"house_trained":false,"declawed":null,"special_needs":false,"shots_current":false},"environment":{"children":null,"dogs":null,"cats":null},"tags":[],"name":"Jasmine","description":"Jasmine
        is a female Bulldog Mix, black and white in color. Approximately 5-6 months
        old. She was picked up as...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/1\/?bust=1691423682\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/1\/?bust=1691423682\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/1\/?bust=1691423682\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/1\/?bust=1691423682"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/2\/?bust=1691423683\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/2\/?bust=1691423683\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/2\/?bust=1691423683\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/2\/?bust=1691423683"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/3\/?bust=1691423683\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/3\/?bust=1691423683\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/3\/?bust=1691423683\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/3\/?bust=1691423683"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/1\/?bust=1691423682\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/1\/?bust=1691423682\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/1\/?bust=1691423682\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/65783428\/1\/?bust=1691423682"},"videos":[],"status":"adoptable","status_changed_at":"2023-08-07T15:54:45+0000","published_at":"2023-08-07T15:54:44+0000","distance":null,"contact":{"email":"animalservices@levycounty.org","phone":"(352)
        486-5138","address":{"address1":"PO Box 61","address2":"12051 NE 69th Lane","city":"Bronson","state":"FL","postcode":"32621","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/65783428"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/fl118"}}},{"id":65783425,"organization_id":"SC562","url":"https:\/\/www.petfinder.com\/dog\/roscoe-65783425\/sc\/sumter\/saving-sumters-strays-sc562\/?referrer_id=651060e9-740a-4c70-867b-fdd741977f4d\u0026utm_source=api\u0026utm_medium=partnership\u0026utm_content=651060e9-740a-4c70-867b-fdd741977f4d","type":"Dog","species":"Dog","breeds":{"primary":"Mixed
        Breed","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":"Black","secondary":null,"ter[...]
